main{
        background-color: rgb(146, 183, 67);
}

main img{
    height: 500px;
    width: 500px;
}

.f1{
    display: flex;
    flex-wrap: nowrap;
    padding: 100px;
    width: auto;
}

.f{
    display: flex;
    justify-content: space-evenly;
}